:root{
    --primary-color:blue;
    --text-color:black;
    --bg-color: white;
    --bg-card-color: pink; /*tarjetas del portfolio y header*/

}

/*todos los elementos*/
*{
    box-sizing: border-box;
}

body{
    margin:0;
    background-color: var(--bg-color);
    color:var(--text-color);
}

/*estilos para cuando la clase dark este activada, se sustituye el valor de las variables*/
body.dark{
    --text-color:white;
    --bg-color: rgb(48, 56, 53);
    --bg-card-color:rgb(51, 77, 68);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-card-color);
}

.switches{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-theme{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-theme-icon{
    margin-right: 0.5em;
    width:25px;
}

.toggle-theme-text{
    font-size: 0.8rem;
}

/*IDIOMAS*/
.flags{
    width:75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flags-item{
    width:30px;
    height: 30px;
    overflow: hidden;
}

.flags-img{
    width: 100%;
    height: auto;
    cursor:pointer;
    display: block;
}

